<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Post <%= post.id %></h1>
<p>Data from <a href="https://jsonplaceholder.typicode.com" target="_blank">jsonplaceholder</a></p>

<h4>Post title: <%= post.title %></h4>
<p>The post from User <%= post.userId%></p>
<p><%= post.body %></p>

</body>
</html>